@import "../../../../style/variables";

.news__navbar{
    display: flex;
}
.navbar__button{
    margin: 20px 20px;
}
.navbar__button a{
    color: $LINK_COLOR;
    font-weight: 500;
}
.navbar__button a:hover{
    color: $ACTIV_LINK_COLOR;
    border-bottom: solid 2px $MAIN_COLOR;
}
.navbar__button-active{
    color: $ACTIV_LINK_COLOR;
    border-bottom: solid 2px $MAIN_COLOR;
}