
.ant-menu-submenu-title:hover{
background-color: white !important;
border-bottom: solid 2px #C80000 !important;
padding: 5px;
border-radius: 2px;
}
.ant-menu-submenu-open::after{
    border-bottom-color: #C80000 !important;
}
.ant-menu-submenu-open::after{
    border-radius: 2px !important;
}
.ant-menu-submenu-active{
    border-bottom-color: #C80000 !important;
}
.ant-menu-submenu-title{
    padding: 5px;
    border-radius: 2px !important;

}
.ant-menu-submenu-title:active{
    background-color: white !important;

}
.ant-menu-light.ant-menu-horizontal >.ant-menu-item-selected{
    color: #C80000;
}
:where(.css-dev-only-do-not-override-9ntgx0).ant-menu-light.ant-menu-horizontal >.ant-menu-item-selected::after{
    border-bottom-color: #C80000;
}
 :where(.css-dev-only-do-not-override-9ntgx0).ant-menu-light.ant-menu-horizontal >.ant-menu-submenu-active::after{
    border-bottom-color: #C80000;
    border-width: 3px;
 }
 :where(.css-dev-only-do-not-override-9ntgx0).ant-menu-light .ant-menu-submenu-selected >.ant-menu-submenu-title{
    color: #C80000;
   
 }
 :where(.css-dev-only-do-not-override-9ntgx0).ant-menu-light.ant-menu-horizontal >.ant-menu-submenu-selected::after{
    border-bottom-color: #C80000 !important;
    border-width: 3px;
 }
  .ant-menu-item-selected {
    margin: 0px;
    padding: 0px;
  }