@import "../../../../../style/variables";
.container-three{
    grid-area: cardThree;

}
.newscard__background{
  
    width: 100%;
    height: 100%;
    position: relative;
}
.newscard__frontend-three {
    position: absolute;
    font-size: 0.75rem;
    line-height: 1rem;
    padding: 3rem 2rem;
    width: 250px;
    height: 220px;
    border-radius: 50%;
    background-color: rgb(1, 78, 193);
    color: white;
    top: 70%;
    right: 25%;
}
.newscard__date-bage-three{
   position: absolute;
   top: -136%;
   left: 12%;
}