.infocontainer__header{
    display: flex;
    padding: 20px 20px;
    justify-content: space-between;
    font-size: 1rem;
}
.infocontainer__titile{
    color: #0C1C2A;
    font-weight: 500;
    width:max-content;
    border-bottom: solid 2px #0C1C2A;
}
button.infocontainer__button{
    background-color:#F4FBFF;
    color: #C80000;
    border-radius: 5px;
    padding: 5px 15px;

  
}
button.infopage__button:hover{
    background-color: white;
/*     border: solid 1px #0C1C2A; */
    padding: 5px 15px;
    border-radius: 5px;
}
.infopage__button {
    padding: 5px 15px;
    display: flex; 
    background-color: #F4FBFF;
    color: #C80000;
}
/* картинка в новостном блоке */
.infocontainer__image{
    overflow: hidden;
    margin: 10px 20px; 
    border-radius: 10px;
    max-height: 500px;
    max-width: 500px;
}
/* text в новостном блоке */
.infocontainer__content{
    display: flex;
    font-size: 1rem;
}
.news__title{
    color: #0C1C2A;
    opacity: .72;
    display: flex;
    justify-content: center;
    font-weight: 500;
     margin: 10px 20px 20px 20px; 
}
.news__text{
    max-width: 600px;
    margin: 10px 20px;
    
}
