@import "../../../../../style/variables";
.common__container{
    max-width: 930px;
    font-size: 1rem;
    text-align: justify;
    &-title{
        text-align: center;
    }
    p{
        text-indent: 2em;
    }
    tr {
        border-bottom: solid 1px $SVEDEN_BORDER-COLOR;
    }
    td {
        padding: 20px ;
        text-align: left;
        min-width: 90px;
       
    }
}

.common__container-white{
    color: $DISABLED_FONT_COLOR;
    background-color: $BACK_WHITE;
    font-size: 1rem;
    &-title{
        text-align: center;
    }
    p{
        text-indent: 2em;
    }
    tr {
        border-bottom: solid 1px $DISABLED_FONT_COLOR;
    }
    td {
        padding: 20px ;
        text-align: left;
        min-width: 90px;
       
    }
}
.common__container-black{
    color: $WHITE_FONT_COLOR;
    background-color: $BACK_BLACK;
    font-size: 1rem;
    &-title{
        text-align: center;
    }
    p{
        text-indent: 2em;
    }
    tr {
        border-bottom: solid 1px  $WHITE_FONT_COLOR;
    }
    td {
        padding: 20px ;
        text-align: left;
        min-width: 90px;
       
    }
}
.common__container-contrast{
    color: $FONT_CONTRAST;
    background-color: $BACK_CONTRAST;
    font-size: 1rem;
    &-title{
        text-align: center;
    }
    p{
        text-indent: 2em;
    }
    tr {
        border-bottom: solid 1px $FONT_CONTRAST;
    }
    td {
        padding: 20px ;
        text-align: left;
        min-width: 90px;
       
    }
}
.common__item{
     margin-bottom: 15px;
    &-header{
        padding: 1em;
    }
    &-body{
        padding: 1em;
    } 
}

@media screen and (max-width:1300px) {
    .common__container{
        max-width: 100%;
        td {
            padding: 5px ;
            text-align: left;
            min-width: none;           
        }
    }
    .common__item{
        margin-bottom: 0px;
    }
    
}
@media screen and (max-width:623px) {
    
}
@media screen and (max-width:715px) {
        .common__container{
            font-size: 0.7rem;
            table{
                font-size: 0.6rem;
            }
        }
    }
    .common__scrollTable{
       width: 623px;
        overflow-x: auto;
    }