.button {
    border-radius: 5px;
    height: 32px;
    width: 160px;
  
} 
.icon {
      color: white;
      margin-right: 3px;
    
  }
.btn__office-text{
    vertical-align: middle;
    font-size: 0.625rem;
    
  }
.btn__office {
  background-color: #C80000;
   color: #ffffff;



}
.btn__office:hover {
   box-shadow: inset 0px 0px 5px rgba(0,0,0,0.9);
   font-weight: 500;
}
.btn__timetable {
  background-color: #ffffff;
 color: #C80000;


 
}
.btn__timetable.icon:hover {
 color: #ffffff;
}

.btn__timetable:hover {
 
 box-shadow: inset 0px 0px 5px rgba(0,0,0,0.9);
 font-weight: 500;
}