// Colors
:root[data-theme="light"] {
	--background-color: #ffffff;
    --font-color: #000000;
  }
  
:root[data-theme="dark"] {
	--background-color: #0C1C2B;
    --font-color: #fff;
  }

$MAIN_COLOR:var(--background-color);
$FONT_COLOR:var(--font-color);
$DISABLED_FONT_COLOR:#000;
$WHITE_FONT_COLOR:#fff;
$RED_COLOR:#C80000;
$TIMETABLE_COLOR:#C80000;
$BACK_TIMETABLE_COLOR:#fff;
$LINK_COLOR:rgb(12, 28, 42, 0.72);
$ACTIV_LINK_COLOR:rgb(12, 28, 42);
$BLUE:#F4FBFF;
$DISABLED:#CCC;


// Голубой фон
.background-blue{
    background-color: $BLUE;
}

// Для заголовков
.title {
    font-weight: 600;
    color: $MAIN_COLOR;
    margin: 15px 0px 30px 0px;
}

//flexbox
.flex {
    display: flex;
}
// tables
.td__max{
    max-width: 450px;
}
.scroll-table{
    max-width: 900px;
    overflow: scroll;
}
// links
.active__link{
    text-decoration: none;
    color: $ACTIV_LINK_COLOR;
    border-bottom: solid 1px $ACTIV_LINK_COLOR;
    &:hover {
        color: $ACTIV_LINK_COLOR;
        font-weight: 500;
    }
}
//hidden
.hidden {
    display: none;
}