@import "../../../../style/variables";
._ibg{
	position: relative;
}
._ibg img {
	position: absolute;
	width: 100%;
	top: 0;
	 left:0; 
	object-fit: cover;
}
.item {
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    height: 700px;
    width: 100%;
}
.swiperSlideFirs__title{
    position: absolute;
    z-index: 2;
    font-size: 2em;
}
.swiperSlideFirs__text{
    position: absolute;
    z-index: 2;
}
.swiperSlideFirs__list{
    position: absolute;
    z-index: 2;
}
.swiperSlideFirs__btn{
    position: absolute;
    z-index: 2;
}
.arrow {
    cursor: pointer;
}